openai==1.10.0
requests==2.31.0
aiohttp
apscheduler
beautifulsoup4
binance
ccxt
cryptography
dnspython==2.4.2
feedparser
flask
jdatetime
motor
numpy
pandas
plotly
psutil
psycopg2-binary
pymongo
python-binance==1.0.19
python-dotenv==1.0.0
python-telegram-bot==20.7
requests==2.31.0
schedule
scikit-learn
sqlalchemy
streamlit
ta
telegram
torch
trafilatura
waitress==2.1.2
yfinance
openai
aiofiles